<div class="pt-5 container-xl" id="form">
    <div class="row py-2 text-center">
        <h3>Подвердите, Пожалуйста, своё присутсвие на торжестве</h3>
        <p>Ваши ответы на вопросы очень помогут нам при организации свадьбы</p>
    </div>
    <div class="row text-center">
        <form class="col-12" action="" method="POST">
            {% csrf_token %}
            <div class="row wrapper-form">
                {%for f in form%}
                <div class="col-8 form-line py-2">
                    <lable class=" form-lable" for="{{f.id_for_label}}">{{f.label}}:</lable>
                    {{f}}
                </div>
                {%endfor%}
            </div>
            <input class="btn btn-primary" type="submit" value="Отправить">
        </form>
    </div>
</div>

