{% load static %}
<div class="py-3 col-12 text-center " id="love">
    <h2 class="pt-5">Наша любовная история</h2>
    <p class="py-4">Бла бла бла Бла бла бла Бла бла бла Бла бла бла Бла бла бла Бла бла бла</p>
</div>
<div id="blogCarousel" class="carousel carousel-dark slide" data-ride="carousel">
    <div class="carousel-indicators mx-auto">
        <button type="button" data-bs-target="#blogCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#blogCarousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#blogCarousel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="container carousel-inner pb-5">
        <div class="carousel-item active">
            <div class="row mx-auto">
                <div class="col-lg-6 mb-3 col-sm-12">
                    <a href="#">
                        <img class="w-100"
                             src="https://img.freepik.com/free-photo/couple-hugging-and-laughing-near-the-wall_176420-15658.jpg?size=626&ext=jpg"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-6 mt-3 col-sm-12">
                    <a href="#">
                        <img class="w-100"
                             src="https://img.freepik.com/free-photo/couple-hugging-and-laughing-near-the-wall_176420-15658.jpg?size=626&ext=jpg"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row mx-auto">
                <div class="col-lg-6 mb-3 col-sm-12">
                    <a href="#">
                        <img class="w-100"
                             src="https://img.freepik.com/free-photo/couple-hugging-and-laughing-near-the-wall_176420-15658.jpg?size=626&ext=jpg"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-6 mt-3 col-sm-12">
                    <a href="#">
                        <img class="w-100"
                             src="https://img.freepik.com/free-photo/couple-hugging-and-laughing-near-the-wall_176420-15658.jpg?size=626&ext=jpg"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row mx-auto">
                <div class="col-lg-6 mb-3 col-sm-12">
                    <a href="#">
                        <img class="w-100"
                             src="https://img.freepik.com/free-photo/couple-hugging-and-laughing-near-the-wall_176420-15658.jpg?size=626&ext=jpg"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-6 mt-3 col-sm-12">
                    <a href="#">
                        <img class="w-100"
                             src="https://img.freepik.com/free-photo/couple-hugging-and-laughing-near-the-wall_176420-15658.jpg?size=626&ext=jpg"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


