{%load static%}
<div id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6 col-6 text-center">
                <h2 w-100 class="main">Мы женимся!</h2>
                <h1 w-100 class="main">Ринат и Альбина</h1>
                <h2 w-100 class="main">Июль 23, 2022</h2>
            </div>
            <div class="main timer p-3">
                <div class="wrapper mx-auto w-33 timer__items ">
                    <div class="timer__item timer__days">00</div>
                    <div class="timer__item timer__hours">00</div>
                    <div class="timer__item timer__minutes">00</div>
                    <div class="timer__item timer__seconds">00</div>
                </div>
            </div>
        </div>
    </div>
</div>