{% load static %}
<div class="container-fluid " id="news" style="background-color:#EFEFEF">
    <div class="news row pt-4">
        <div class="col-12 text-center">
            <h2 class="py-3">Дорогие гости!</h2>
            <p class="mx-auto w-50 py-3">Это радостное событие мы хотим отметить в кругу самых близких для нас людей.
                Будем очень рады, если в этот день, Вы сможете присутствовать на нашем празднике.
            </p>
            <p><span class="dear"> С любовью, Ринат и Альбина</span></p>
        </div>
    </div>
    <div class="row  py-4 mx-auto text-center align-self-center">
        <div class="m-0  col-lg-4 ">
            <div class="mx-auto card-item shadow p-3 mb-5 bg-body rounded " style="width: 19rem;">
                <img class="icon mx-auto my-3 "
                     src="https://img.icons8.com/wired/64/000000/place-marker.png"
                     alt="icon-dinner"/>
                <div class="card-body text-start">
                    <h3 class="card-title text-center">Сбор гостей</h3>
                    <div class="my-2">
                        <img class="icons" src="{%static '/wedding/image/calendar.svg'%}" alt="">
                        <span>Июль 23, 2022</span>
                    </div>
                    <div class="my-2">
                        <img class="icons" src="{%static '/wedding/image/clock.svg'%}" alt="">
                        <span>16:00</span>
                    </div>

                    <div class="my-2">
                        <img class="icons" src="{%static '/wedding/image/room_black_24dp.svg'%}" alt="">
                        <span>Ресторан Дом, Горьковское ш., 118, Казань, Респ. Татарстан</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-0  col-lg-4 ">
            <div class="mx-auto card-item shadow p-3 mb-5 bg-body rounded " style="width: 19rem;">
                <img class="mx-auto my-3"
                     src="https://img.icons8.com/external-justicon-lineal-justicon/64/000000/external-wedding-romantic-love-justicon-lineal-justicon.png"/>
                <div class="card-body text-start">
                    <h3 class="card-title text-center">Регистрация</h3>
                    <div class="my-2">
                        <img class="icons" src="{%static '/wedding/image/calendar.svg'%}" alt="">
                        <span>Июль 23, 2022</span>
                    </div>
                    <div class="my-2 ">
                        <img class="icons" src="{%static '/wedding/image/clock.svg'%}" alt="">
                        <span>16:30</span>
                    </div>

                    <div class="my-2">
                        <img class="icons" src="{%static '/wedding/image/room_black_24dp.svg'%}" alt="">
                        <span>Ресторан Дом, Горьковское ш., 118, Казань, Респ. Татарстан</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-0 col-lg-4  ">
            <div class="mx-auto card-item shadow p-3 mb-5 bg-body rounded " style="width: 19rem;">
                <img class="mx-auto my-3 "
                     src="https://img.icons8.com/external-justicon-lineal-justicon/64/000000/external-champagne-romantic-love-justicon-lineal-justicon-1.png"
                     alt="icon-dinner"/>
                <div class="card-body text-start">
                    <h3 class="card-title text-center">Банкет</h3>
                    <div class="my-2">
                        <img class="icons" src="{%static '/wedding/image/calendar.svg'%}" alt="">
                        <span>Июль 23, 2022</span>
                    </div>
                    <div class="my-2">
                        <img class="icons" src="{%static '/wedding/image/clock.svg'%}" alt="">
                        <span>17:00</span>
                    </div>
                    <div class="my-2">
                        <img class="icons" src="{%static '/wedding/image/room_black_24dp.svg'%}" alt="">
                        <span class="texts">Ресторан Дом, Горьковское ш., 118, Казань, Респ. Татарстан</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row py-5 text-center">
            <div class="gamma-info col-12">
                <h2 class="">Цветовая гамма</h2>
                <p class="mx-auto w-50">Нам будет очень приятно, если Вы учтете наши пожелания и, при выборе одежды,
                    предпочтёте наряды в представленной ниже гамме</p>
            </div>
            <div class="row d-flex justify-content-center block_figure">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>


        </div>
    </div>
</div>
