

h1, h2, p{
    font-family:"Poppins", sans-serif;
    color:#000;
    font-weight: 700;
}

#hero{
    width: 100%;
    height: 1100px;
    background: url("https://i.insider.com/5eac8da748d92c3d275bb2de?width=700");
    background-size: cover;
    background-position:center;
    position: relative;
}

#hero:before{
    content:"";
    background:rgba(0,0,0,0.6);
    position:absolute;
    bottom:0;
    top:0;
}

#hero .container{
    position:relative;
    padding-top: 75px;
}

#hero h1{
    margin: 0;
    line-height: 64px;
    font-size:50px;
    font-weight: 900;


}

#hero h2{
    margin: 10 px;
    font-size:40px;
    font-weight: 700;
    line-height: 64px;
}

.main{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:#000;
    -webkit-text-stroke-width:1px;
    text-shadow: -1px 1px #fff;
}

.wrapper{
    justify-content: center;
}

/**
.carousel-item{
    height: 850px;
}


.carousel-item img{
    height: 1200px;
}

**/

.timer__items {
  display: flex;
  font-size: 48px;
  color:#fff;
}

.timer__item {
  position: relative;
  min-width: 55px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-weight:400px;
}
.timer__items:hover{
    font-size: 52px;
    transition:0.8s;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 20px;
}
.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}

.carousel-indicators{
    bottom: -10px;
}


.news h2{
    font-size: 30px;
    border-bottom:2px;
}

.news p{
    font-weight: 400;
    font-size: 18px;
}

.dear {
    font-weight:700;
    font-size: 22px;
}



.item {
  max-width: 150px;
  width: 100%;

  margin-bottom: 1rem;
}


.card-item:hover{
    transition:0.9s;
    border: 2px solid #922C40;
}

.gamma-info h2 ~ p{
    font-weight: 400;
    font-size: 18px;
}


.circle1{
    width:80px;
    height:80px;
    background-color: #922C40;
    border-radius: 50%;
}

.circle2{
    width:80px;
    height:80px;
    background-color: #DC9750;
    border-radius: 50%;
}

.circle3{
    width:80px;
    height:80px;
    background-color: #1E2640;
    border-radius: 50%;
}

.circle4{
    width:80px;
    height:80px;
    background-color: #F3EAC0;
    border-radius: 50%;
}

.alert{
    color:red;
}

.form-group{
    margin:10px 0;
}

.form-group{
    margin: 0 auto;
    width: 450px;

}

.input-text{
    width:100%;
    font-size:25px;
}

#id_attendance{
    width:100%;
    height:45px;
    margin: 0 auto 15 px;
    border-radius: 3px;
    padding-left:25px;
    font-size:18px;
    border: 1px solid #bbbbbb;

}

#id_housing{
    width:100%;
    height:45px;
    margin: 0 auto 15px;
    border-radius: 3px;
    padding-left:25px;
    font-size:18px;
    border: 1px solid #bbbbbb;

}

.input_filed{
    margin: 0;
    display:block;
    height:45px;
    border-radius: 3px;
    border: 1px solid #bbbbbb;
    font-size:18px;
    padding-left:25px;
    width:100%;

}
.select_box{
    font-size:18px;
    padding-bottom:70px
}

.btn-form{
    padding: 15px 0;
    width: 100%;
    height: 55px;
    display: block;
    text-align: center;
    font-weight: 900;
    transition: all 0.5s ease;
}

.btn-form :hover{
    transition:0.9s;
    border: 2px solid #922C40;

}